* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #07070A;
    color: #FFF;
}

a {
    color: #3E78B2;
    text-decoration: none;
    transition: .5s;
}

a:hover {
    color: #004BA8;
}